<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>chores list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
</head>
<body>
  <div id="main">
    <div id ="banner">
    
    <h1>chores list</h1>
  </div>
    <div id="wrapper">
      <div id="content">

        <div class="userrow">
          <div class="col userinfo">
            <a class="name">christine</a>
            <img class="img-circle" src="https://pbs.twimg.com/profile_images/635579387828662274/e3SDMkjQ.jpg">
          </div>
          <div class="col starcount">

          </div>
        </div>

        <div class="userrow">
          <div class="col userinfo">
            <span class="name">eric</span>
            <img class="img-circle" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11101407_10152939802886704_2441489110935811479_n.jpg?oh=d843109013b81bfbd0f10ec88990093a&oe=5694F105">
          </div>
          <div class="col starcount">
          </div>
        </div>

        <div class="userrow">
          <div class="col userinfo">
            <span class="name">kristian</span>
            <img class="img-circle" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/11899826_10207606115060038_386304102322216642_n.jpg?oh=fffbfe3f2ad498e65260df15f19d81c6&oe=56A74F34">
          </div>
          <div class="col starcount">
          </div>
        </div>

        <div class="userrow">
          <div class="col userinfo">
            <span class="name">jess</span>
            <img class="img-circle" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/11707842_10206122464354118_4029509040236239665_n.jpg?oh=cca4a425d1dd912ce2631f090b984fc1&oe=569B137C">
          </div>
          <div class="col starcount">
          </div>
        </div>


        <div class="userrow">
          <div class="col userinfo">
            <span class="name">anne</span>
            <img class="img-circle" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/22717_10152968170194480_2281793540011047361_n.jpg?oh=b41ded46f8c396d56ec4a53bbb074b54&oe=569DF0CB">
          </div>
          <div class="col starcount">
          </div>
        </div>                

      </div>
    </div>

  </div>

  <div id="addChore" title="Give yoself a star, bud!">
    <p>today, i...</p>
      <div id="selectChore">
      <ul>
        <li class="chore">did the dishes</li>
        <li class="chore">swept the floor</li>
        <li class="chore">took out the trash</li>
      </ul>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/static/scripts.js"></script>
</body>
</html>
